<p id="notice"><%= notice %></p>

<h2>Article reference</h2>

<p>
  <strong>Cite key:</strong>
  <%= @article.key %>
</p>

<p>
  <strong>Author:</strong>
  <%= @article.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @article.year %>
</p>

<p>
  <strong>Journal:</strong>
  <%= @article.journal %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @article.volume %>
</p>

<p>
  <strong>Number:</strong>
  <%= @article.number %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @article.pages %>
</p>

<p>
  <strong>Month:</strong>
  <%= @article.month %>
</p>

<p>
  <strong>Note:</strong>
  <%= @article.note %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @article.all_tags %>
</p>

<%= link_to 'Edit', edit_article_path(@article), class: "button secondary" %> <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' }, class: "button secondary" %>
