<p id="notice"><%= notice %></p>

<h2>Article reference</h2>

<p>
  <strong>Author:</strong>
  <%= @article.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @article.year %>
</p>

<p>
  <strong>Journal:</strong>
  <%= @article.journal %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @article.volume %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @article.all_tags %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
