<p id="notice"><%= notice %></p>

<h2>Inproceeding reference</h2>

<p>
  <strong>Cite key:</strong>
  <%= @inproceeding.key %>
</p>

<p>
  <strong>Author:</strong>
  <%= @inproceeding.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @inproceeding.title %>
</p>

<p>
  <strong>Booktitle:</strong>
  <%= @inproceeding.booktitle %>
</p>

<p>
  <strong>Year:</strong>
  <%= @inproceeding.year %>
</p>

<p>
  <strong>Editor:</strong>
  <%= @inproceeding.editor %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @inproceeding.volume %>
</p>

<p>
  <strong>Series:</strong>
  <%= @inproceeding.series %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @inproceeding.pages %>
</p>

<p>
  <strong>Address:</strong>
  <%= @inproceeding.address %>
</p>

<p>
  <strong>Month:</strong>
  <%= @inproceeding.month %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @inproceeding.organization %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @inproceeding.publisher %>
</p>

<p>
  <strong>Note:</strong>
  <%= @inproceeding.note %>
</p>

<p>
  <strong>Key:</strong>
  <%= @inproceeding.key %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @inproceeding.all_tags %>
</p>

<%= link_to 'Edit', edit_inproceeding_path(@inproceeding), class: "button secondary" %> <%= link_to 'Destroy', @inproceeding, method: :delete, data: { confirm: 'Are you sure?' }, class: "button secondary" %>
